<div class="footerWindow">
    <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
    <img src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" style="padding-right:5px;"/>
    </a></p>
    <p>Created by Simon Maskelyne</p>
    <p><a href="/about">About</a></p>
    <p><a href="/legal">Legal</a></p>
</div>
