<head lang="en">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
        const playerId = "<%= playerId %>";
        const gameId = "<%= gameId %>";
    </script>
    <title>Eliscont - <%= title %> </title>
    <link rel="stylesheet" href="/assets/play.css" />
    <script src="/socket.io/socket.io.js"></script>
</head>
