<div class="navBox">
    <p class="title"><a href="/">Campaign Coordinator</a></p>
    <div class="navWindow">
        <% if (!user) { %>
            <p><a href="/signup">Register</a></p>
            <p><a href="/login">Login</a></p>
        <% } else { %>
            <p><a href="/account">Account</a></p>
            <p><a href="/characters">Characters</a></p>
            <p><a href="/games">Games</a></p>
            <p><a href="/logout">Logout</a></p>
        <% } %>
    </div>
</div>
