<html>
    <%- include('./partials/head.ejs') %>
    <body>

        <div class="bg-image"></div>
        <%- include('./partials/nav.ejs') %>
        <div class="content">
            <div class="content-div">
                <h2>About</h2>
                <h3>Game Logos</h3>
                <p>
                    Game icons were created using LogoMakr.com
                </p>
            </div>
        </div>
    </body>
</html>
