<html>
    <%- include('./partials/head.ejs') %>
    <body>

        <div class="bg-image"></div>
        <%- include('./partials/nav.ejs') %>
        <div class="content">
            <div class="content-div">
                <h2>About</h2>
            </div>
        </div>
    </body>
</html>
