<html>
    <%- include('./partials/head.ejs') %>
    <body>

        <div class="contentView">

            <%- include('./partials/nav.ejs') %>

            <div class="mainWindow">
                <div class="contentWindow">
                    <h2>Account Details</h2>
                </div>
            </div>

            <%- include('./partials/footer.ejs') %>
        </div>

    </body>
</html>
