<html>
    <%- include('./partials/head.ejs') %>
    <body>

        <div class="contentView">

            <%- include('./partials/nav.ejs') %>

            <div class="contentWindow">
                <h2>Account Details</h2>
            </div>
        </div>

    </body>
</html>
