<html>
    <%- include('./partials/head.ejs') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js" integrity="sha512-L03kznCrNOfVxOUovR6ESfCz9Gfny7gihUX/huVbQB9zjODtYpxaVtIaAkpetoiyV2eqWbvxMH9fiSv5enX7bw==" crossorigin="anonymous"></script>
    <body>

        <div class="contentView">

            <%- include('./partials/nav.ejs') %>

            <div class="mainWindow">
                <div class="contentWindow">
                    <h2 class="centerText">Create Character</h2>

                    <form id="createCharacterForm" autocomplete="off">
                        <input type="text" placeholder="name" name="name" class="fullWidth" required></input>

                        <div class="fullWidthBox">
                            <h3>Race</h3>
                            <select name="race" id="raceMenu"  class="fullWidth" required>
                                <option value="" selected disabled >Select Race</option>
                            </select>
                            <p id="raceTraitsP" class ="fullWidth" hidden></p>
                            <select name="subrace" id="subraceMenu" class="fullWidth" hidden>
                                <option value="" selected disabled>Select Subrace</option>
                            </select>
                            <p id="subraceTraitsP" class ="fullWidth" hidden></p>
                        </div>


                        <div class="fullWidthBox">
                            <h3>Class</h3>
                            <select name="class" id="classMenu" class="fullWidth" required>
                                <option value="" selected disabled>Select Class</option>
                            </select>
                        <div id="classInfo" class="fullWidth" hidden></div>
                        </div>



                        <div class="fullWidthBox">
                            <h3>Ability Scores</h3>
                            <div class="abilityScoreContainer">
                                <div class="abilityScoreItem">
                                    <p>Strength</p>
                                    <input type="number" value="10" name="strength" readonly></input>
                                    <p id="strengthBonus" class="abilityBonus"></p>
                                    <br>
                                    <img src="./images/arrowUpHollow.png">
                                    <img src="./images/arrowDownHollow.png">
                                </div>
                                <div class="abilityScoreItem">
                                    <p>Dexterity</p>
                                    <input type="number" value="10" name="dexterity" readonly></input>
                                    <p id="dexterityBonus" class="abilityBonus"></p>
                                    <br>
                                    <img src="./images/arrowUpHollow.png">
                                    <img src="./images/arrowDownHollow.png">
                                </div>
                                <div class="abilityScoreItem">
                                    <p>Constitution</p>
                                    <input type="number" value="10" name="constitution" readonly></input>
                                    <p id="constitutionBonus" class="abilityBonus"></p>
                                    <br>
                                    <img src="./images/arrowUpHollow.png">
                                    <img src="./images/arrowDownHollow.png">
                                </div>
                                <div class="abilityScoreItem">
                                    <p>Wisdom</p>
                                    <input type="number" value="10" name="wisdom" readonly></input>
                                    <p id="wisdomBonus" class="abilityBonus"></p>
                                    <br>
                                    <img src="./images/arrowUpHollow.png">
                                    <img src="./images/arrowDownHollow.png">
                                </div>
                                <div class="abilityScoreItem">
                                    <p>Intelligence</p>
                                    <input type="number" value="10" name="intelligence" readonly></input>
                                    <p id="intelligenceBonus" class="abilityBonus"></p>
                                    <br>
                                    <img src="./images/arrowUpHollow.png">
                                    <img src="./images/arrowDownHollow.png">
                                </div>
                                <div class="abilityScoreItem">
                                    <p>Charisma</p>
                                    <input type="number" value="10" name="charisma" readonly></input>
                                    <p id="charismaBonus" class="abilityBonus"></p>
                                    <br>
                                    <img src="./images/arrowUpHollow.png">
                                    <img src="./images/arrowDownHollow.png">
                                </div>
                            </div>
                        </div>



                        <input type="text" placeholder="age" name="age"></input>
                        <input type="text" placeholder="height" name="height"></input>
                        <input type="text" placeholder="weight" name="weight"></input>
                        <input type="text" placeholder="eyes" name="eyes"></input>
                        <input type="text" placeholder="skin" name="skin"></input>
                        <input type="text" placeholder="hair" name="hair"></input>
                        <textarea rows="8" placeholder="appearance" name="appearance"></textarea>
                        <textarea rows="8" placeholder="backstory" name="backstory"></textarea>
                        <button class="fullWidth">Create Character</button>
                    </form>

                <script src="/characterCreate.js"></script>

                </div>
            </div>

            <%- include('./partials/footer.ejs') %>
        </div>

    </body>
</html>
