<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <div class="contentView">
        <%- include('./partials/nav.ejs') %>
            <div class="mainWindow">
                <div class="contentWindow" id="createGame">
                    <form>
                        <h2>Create Game</h2>
                        <input type="text" name="name" placeholder="name" required/>
                        <div id="nameError" class="errorDiv"></div>
                        <textarea placeholder="description" name="description"></textarea>
                        <input type="password" name="password" placeholder="password" required/>
                        <div id="passwordError" class="errorDiv"></div>
                        <button>Create Game</button>
                    </form>
                </div>
            </div>
            <script>
                const form = document.querySelector('form');
                const nameError = document.querySelector('#nameError');
                const passwordError = document.querySelector('#passwordError');

                nameError.classList.add('hidden');
                passwordError.classList.add('hidden');

                form.addEventListener('submit', async (e) => {
                    e.preventDefault();
                    nameError.classList.add('hidden');
                    passwordError.classList.add('hidden');

                    // reset errors
                    nameError.textContent = '';
                    passwordError.textContent = '';

                    // get the values
                    const name = form.name.value;
                    const password = form.password.value;
                    const description = form.description.value;

                    try {
                        const res = await fetch('/games/create', {
                            method: 'POST',
                            body: JSON.stringify({ name, password, description }),
                            headers: { 'Content-Type': 'application/json' }
                        });
                        const data = await res.json();
                        if (data.errors) {
                            nameError.textContent = data.errors.name;
                            passwordError.textContent = data.errors.password;
                            if (nameError.textContent !== '') {
                                nameError.classList.remove('hidden');
                            }
                            if (passwordError.textContent !== '') {
                                passwordError.classList.remove('hidden');
                            }
                        }
                        if (data.game) {
                            location.assign('/games');
                        }
                    }
                    catch (err) {
                        console.log(err);
                    }
                });
            </script>
            <%- include('./partials/footer.ejs') %>
        </div>
    </body>
</html>
