@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

:root {
    --font1: #ffffff;
    --font2: #C0C0C0;
    --background: #202020;
    --window: #101010;
    --innerWindow: #181818;
    --forms: #101010;
    --red: #FE0000;
    --cyan: #00FFFF;
    --dmColor: lightgreen;
    --playerColor: #D4AF37;
    --spectatorColor: grey;
    --grey: grey;
}

body {
    background: var(--background);
    color: var(--font1);
    font-size: 16px;
    margin: 0em;
    font-family: 'Josefin Sans', sans-serif;
}

form{
    display: grid;
    column-gap: 1em;
    row-gap: 1em;
}

form h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
button {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--font2);
    font-size: 1em;
    width: 100%;
    background-color: var(--innerWindow);
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    border-radius: 0.5em;
    box-sizing: border-box;
    -webkit-appearance: none;
    outline: none;
        transition: 0.2s;
}

button {
    margin-bottom: 0em;
}

.errorDiv {
    color: var(--red);
    text-align: center;
}

.hidden {
    display: none;
}

.contentView {
    display: grid;
    grid-template-columns: 1fr 568px 1fr;
    column-gap: 0.5em;
    row-gap: 0.5em;
    padding: 0.5em;
}

@media screen and (max-width: 600px) {
    .contentView {
        grid-template-columns: 1fr;
    }

    input,
    button {
        padding: 1em;
    }
}

/* Title & Nav Window Styles */

.titleWindow {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    background: var(--window);
    border-radius: 0.5em;
}

.titleWindow h1 {
    font-size: 2em;
    transition: 0.2s;
}

@media screen and (max-width: 600px) {
    .titleWindow {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .titleWindow h1 {
        font-size: 1.5em;
    }
}

/* Nav Window Styles */

.navWindow {
    grid-column-start: 1;
    grid-column-end: 4;
    background: var(--window);
    border-radius: 0.5em;
    display: grid;
    grid-auto-flow: column;
}

.navWindow p {
    justify-self: center;
}

@media screen and (max-width: 600px) {
    .navWindow {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}

/* Content Window Styles  */

.contentWindow,
.findWindow {
    padding-left: 1em;
    padding-right: 1em;
    grid-column-start: 2;
    grid-column-end: 3;
    background: var(--window);
    border-radius: 0.5em;
}

@media screen and (max-width: 600px) {
    .contentWindow,
    .findWindow {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}

/* Games Window Styles */

.gamesWindow {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    background: var(--window);
    border-radius: 0.5em;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
    padding: 1em;
}

.gamesWindow h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    margin: 0em;
}

.gamesWindow a {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

.gameDetail {
    text-align: center;
    background-color: var(--innerWindow);
    border-radius: 0.5em;
}

.gameDetail p:nth-child(2n + 1) {
    color: var(--cyan);
}

.gameDetail button {
    width: calc(100% - 2em);
    background-color: #202020;
    /* margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 1em; */
}
.gameDetail input {
    width: calc(100% - 2em);
    background-color: #202020;
    /* margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 1em; */
}

@media screen and (max-width: 600px) {
    .gamesWindow {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .gameDetail {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}

/* Find Game Styles */

.findWindow {
    display: grid;
    margin: 1em;
    row-gap: 1em;
    column-gap: 1em;
}

.findWindow h2 {
    margin-bottom: 0em;
    text-align: center;
}

.bottomMargin {
    margin-bottom: 1em;
}
