@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

:root {
    --font1: #ffffff;
    --font2: #C0C0C0;
    --background: #202020;
    --window: #101010;
    --innerWindow: #181818;
    --forms: #101010;
    --red: #FE0000;
    --cyan: #00FFFF;
    --dmColor: lightgreen;
    --playerColor: #D4AF37;
    --spectatorColor: grey;
    --grey: grey;
    --accentColor: #FF4E21;
}



body {
    background: var(--background);
    color: var(--font1);
    font-size: 16px;
    margin: 0em;
    font-family: 'Josefin Sans', sans-serif;
}

form{
    display: grid;
    column-gap: 1em;
    row-gap: 1em;
    margin-bottom: 0.5em;
}

form h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
button,
textarea,
select {
    font-family: 'Josefin Sans', sans-serif;
    color: var(--font2);
    font-size: 1em;
    width: 100%;
    background-color: var(--innerWindow);
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    border-radius: 0.5em;
    box-sizing: border-box;
    -webkit-appearance: none;
    outline: none;
    transition: 0.2s;
}

button {
    margin-bottom: 0em;
    box-shadow:
    4px 4px 4px 0 rgba(0, 0, 0, 0.4),
    -4px -4px 4px 0 rgba(200, 200, 200, 0.1);

}

input,
textarea,
select {
    background: var(--window);
    box-shadow:
    4px 4px 4px 0 rgba(0, 0, 0, 0.4),
    -4px -4px 4px 0 rgba(0, 0, 0, 0.1);
    /* box-shadow:
    -4px -4px 2px 0 rgba(0, 0, 0, 0.4) inset,
    4px 4px 2px 0 rgba(255, 255, 255, 0.1) inset; */
}

textarea {
    resize: vertical;
    height: 20em;
}

.errorDiv {
    color: var(--red);
    text-align: center;
}

.hidden {
    display: none;
}

.contentView {
    display: grid;
    grid-template-columns: 1fr 568px 1fr;
    height: calc(100vh - 1px);
    grid-template-areas:
            "nav nav nav"
            ". main ."
            "footer footer footer";
    grid-template-rows: 3.2em 1fr 3.2em;
}

@media screen and (max-width: 900px) {
    .contentView {
        grid-template-rows: 5.75em 1fr 3.2em;

    }
}

@media screen and (max-width: 600px) {
    .contentView {
        grid-template-rows: 5.75em 1fr 6.4em;
        grid-template-columns:  1fr ;
        grid-template-areas:
                "nav nav nav"
                "main main main"
                "footer footer footer";
    }

    input,
    button,
    select {
        padding: 1em;
    }
}

/* Title & Nav Window Styles */

.navBox {
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border-bottom: 1px solid #DA3B01; */
    filter: drop-shadow(0 0 10px var(--innerWindow));
    background-color: var(--innerWindow);
}

.title {
    text-align: left;
    padding-left: 1em;
    margin-bottom: 0em;
    color: var(--accentColor);
}

@media screen and (max-width: 900px) {
    .navBox {
        grid-template-columns: 1fr;
    }

    .title {
        padding: 0em;
        text-align: center;
        font-size: 1.5em;
        margin-top: 0.5em;
    }
}

/* Nav Window Styles */

.navWindow {
    display: grid;
    grid-auto-flow: column;
}

.navWindow p {
    text-align: center;

}

@media screen and (max-width: 600px) {
    .navWindow {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}

/* Content Window Styles  */

.contentWindow,
.findWindow {
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    background: var(--innerWindow);
    border-radius: 0.5em;
    height: auto;
    filter: drop-shadow(0 0 10px var(--innerWindow));
}

.mainWindow {
    grid-area: main;
}

/* Games Window Styles */

.gamesWindow {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    background: var(--innerWindow);
    border-radius: 0.5em;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    filter: drop-shadow(0 0 10px var(--innerWindow));
}

.gamesWindow h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    margin: 0em;
}

.gamesWindow a {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

.gameDetail {
    text-align: center;
    background-color: var(--innerWindow);
    border-radius: 0.5em;
    box-shadow:
    4px 4px 4px 0 rgba(0, 0, 0, 0.4),
    -4px -4px 4px 0 rgba(200, 200, 200, 0.1);
}

.gameDetail p:nth-child(2n + 1) {
    color: var(--accentColor);
}

.gameDetail form {
    margin-bottom: 1em;
}

.gameDetail button {
    width: calc(100% - 2em);
    background-color: var(--innerWindow);
}
.gameDetail input {
    width: calc(100% - 2em);
    /* background-color: var(--innerWindow); */
}

@media screen and (max-width: 600px) {
    .gamesWindow {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .gameDetail {
        grid-column-start: 1;
        grid-column-end: 4;
    }
}

/* Find Game Styles */

.findWindow {
    display: grid;
    row-gap: 1em;
    column-gap: 1em;
}

.findWindow h2 {
    margin-bottom: 0em;
    text-align: center;
}

.bottomMargin {
    margin-bottom: 1em;
}

/* Footer Window */

.footerWindow {
    background-color: var(--innerWindow);
    grid-area: footer;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
    filter: drop-shadow(0 0 10px var(--innerWindow));
}

@media screen and (max-width: 900px) {
    .footerWindow {
        grid-template-columns: 1fr 2fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .footerWindow {
        grid-template-columns: 1fr 2fr;
    }
}

/* Create Character Styles */

#createCharacterForm {
    grid-template-columns: 1fr 1fr;
}

#createCharacterForm label {
    text-align: center;
    margin-top: 0.5em;

}

#createCharacterForm textarea {
    grid-column-start: 1;
    grid-column-end: 3;
}

.fullWidth {
    grid-column-start: 1;
    grid-column-end: 3;
}

.fullWidthBox {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-start: 1;
    grid-column-end: 3;
    column-gap: 1em;
    border-radius: 0.5em;
    box-shadow:
    4px 4px 4px 0 rgba(0, 0, 0, 0.4),
    -4px -4px 4px 0 rgba(200, 200, 200, 0.1);
    padding: 0.5em;
}
